<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <div class="post-image">
            <img data-src="/images/abhi-kinova.jpg" class="portfolio__image lazy" alt="Collage of Abhi with various things.">
          </div>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- end hero -->