---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  {% if page.category = "researchblog" %}
    <span class="post-date">{{ page.date | date_to_string }}</span>
  {% endif %}
  {% if page.category = "musings" %}
    <span class="post-date">{{ page.date | date_to_string }}</span>
  {% endif %}
  {{ content }}
</div>

<div class="related">
  <h3>You may also enjoy~</h3>
  <ul class="related-posts">
  {% assign maximum_posts = 5 %}
  {% for post in site.related_posts limit:maximum_posts %}
    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.category contains category %}
          <li>
            <h4>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <!-- <small>{{ post.date | date_to_string }}</small> -->
              </a>
            </h4>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
</div>
