---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% if page.category == "researchblog" %}
  <div class="related">
    <h3>You may also enjoy~</h3>
    <ul class="related-posts">
    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% for post in site.related_posts limit:3 %}
            <li>
              <h4>
                <a href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date_to_string }}</small>
                </a>
              </h4>
            </li>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
{% endif %}
